In [162]:
import pandas as pd

sep=[ '|',',', ';']
for i in sep:
    dec=','
    if i==',':
        dec='.'
    df=pd.read_csv("proj2_data.csv", sep=i, decimal=dec)
    if len(list(df.columns))>1:
        break

# Exercise 1

In [163]:
df

,full_name,field,language,code,task_1,task_2,task_3,tasks_avg,task_grade,jury_score,final_grade
0,Rowan Harrington,drones,python,wej,3.1,2.0,4.4,3.166667,dostateczny,"3,5 pts",dostateczny
1,Nash Wyatt,racing,java,sfe,4.2,2.0,2.0,2.733333,bardzo dobry,5 p,mierny
2,Jadiel Ramirez,media,cplusplus,vaw,4.0,4.9,3.0,3.966667,dobry,3.5,mierny
3,Makaila Atkins,racing,swift,ugt,4.1,5.0,4.8,4.633333,dobry,2,dostateczny
4,Melanie Fuller,racing,python,owb,2.7,2.0,2.0,2.233333,bardzo dobry,pts 2,mierny
5,Layla Woodard,drones,python,wuf,2.8,2.0,2.0,2.266667,bardzo dobry,"3,5p",dostateczny
6,Edwin Hale,media,swift,ceq,4.9,3.0,3.4,3.766667,dostateczny,-1 (dnf),niedostateczny
7,Travis Rocha,robotics,cplusplus,eir,5.0,4.9,5.0,4.966667,dostateczny,0,niedostateczny
8,Ricky Howell,media,java,vos,2.1,2.0,2.0,2.033333,dobry,waiting,niedostateczny
9,Addyson Brennan,drones,java,cov,4.4,3.7,4.0,4.033333,bardzo dobry,-,niedostateczny
10,Megan Barker,drones,swift,oqq,3.9,4.0,4.4,4.100000,dostateczny,2,dostateczny
11,Abel Hendricks,racing,python,dfa,4.1,5.0,5.0,4.700000,bardzo dobry,4,mierny

In [164]:
import pickle as pkl
with open ("proj2_ex01.pkl", "wb") as f:
    pkl.dump(df, f)


# Exercise 2

In [165]:

dict={}
f=open("proj2_scale.txt", 'r')
t=1
for i in f:
    dict.update({i.replace('\n', ''):t})
    t+=1
f.close()

In [166]:
df2=df.copy()
df2[["task_grade", "final_grade"]]=df2[["task_grade", "final_grade"]].replace(dict)

In [167]:
#df2

In [168]:
with open("proj2_ex02.pkl", "wb") as f:
    pkl.dump(df2, f)

# Exercise 3

In [169]:
##################################################################################

f=open("proj2_scale.txt", 'r')

category=pd.CategoricalDtype([i.replace("\n", '') for i in f])
df3=df.copy()
df3[["task_grade", "final_grade"]]=df3[["task_grade", "final_grade"]].astype(category)

f.close()
df3.dtypes

full_name        object
field            object
language         object
code             object
task_1          float64
task_2          float64
task_3          float64
tasks_avg       float64
task_grade     category
jury_score       object
final_grade    category
dtype: object

In [170]:
with open("proj2_ex03.pkl", "wb") as f:
    pkl.dump(df3,f)

# Exercise 4

In [188]:
################################################################################

import numpy as np
import math
df4=pd.DataFrame()
for i in df.keys():
    if df[i].dtype==object:
        d=df[i].str.extract("([-+]?\d*[\.\,]?\d+)")
        if not d.isna().values.all():
            df4[i]=d

In [189]:


df4=df4["jury_score"].str.replace(',', '.')
pd.to_numeric(df4)
df4=df4.sort_values()

In [190]:
df4

0      -1
1       0
2       2
3       2
4       2
5     3.5
6     3.5
7     3.5
8       4
9       5
10    NaN
11    NaN
Name: jury_score, dtype: object

In [173]:
with open("proj2_ex04.pkl", "wb") as f:
    pkl.dump(df4, f)


# Exercise 5

In [174]:


text=df.columns[df.dtypes==object]

uniquecols=df.columns[df.nunique()<=10]

atoz=df.columns[df.columns.str.fullmatch("[a-z]+")]

notin2=[]